[submodule "seosnap-dashboard"]
	path = seosnap-dashboard
	url = https://github.com/experius/SeoSnap-Dashboard.git
[submodule "seosnap-cachewarmer"]
	path = seosnap-cachewarmer
	url = https://github.com/experius/SeoSnap-Cache-Warmer.git
[submodule "seosnap-cacheserver"]
	path = seosnap-cacheserver
	url = https://github.com/experius/SeoSnap-Cache-Server.git
